.title {
    font-family: 'Ubuntu', Arial, sans-serif;
    background: #00ff00;
    background: linear-gradient(to bottom left, #00FF00 0%, #00FFFF 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    text-decoration: underline;
    text-decoration-color: #45a049 ;
}

button {
    font-family: Arial, sans-serif;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
    display: flex;
    gap: 10px;
}

button a {
    font-family: Arial, sans-serif;
    font-size: 10px;
}

#eagler {
    display: flex;
    gap: 10px;
}
#eagler a {
    font-family: Arial, sans-serif;
    font-size: 10px;
}

#eagler button {
    font-family: Arial, sans-serif;
    background-color: #5dc729; /* Green */
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}

#eagler button:hover {
    background-color: #429820;
}

#eagler-legacy {
    display: flex;
    gap: 10px;
}
#eagler-legacy a {
    font-family: Arial, sans-serif;
    font-size: 10px;
}

#eagler-legacy button {
    font-family: Arial, sans-serif;
    background-color: #5ec825; /* Green */
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}

#eagler-legacy button:hover {
    background-color: #63a045;
}

.other-games{
    display: flex;
    gap: 10px;
}
.other-games a {
    font-family: Arial, sans-serif;
    font-size: 10px;
}

.other-games button {
    font-family: Arial, sans-serif;
    background-color: #2943c7; /* Green */
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.other-games button:hover {
    background-color: #203498;
}

#hi {
    font-family: "Comic Sans MS", "Comic Sans", cursive;
    background: #0000FF;
    background: linear-gradient(to bottom left, #0000FF 0%, #FF0000 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    text-decoration: underline;
}